/* these are colours and fonts consistent with RCPCH branding guidelines - see github for info */

:root {
  --md-primary-fg-color: #3366cc;
  --md-accent-fg-color: #11a7f2;
}

.md-typeset h1 {
  font-weight: 700;
  font-size: 24pt;
  color: #11a7f2;
}

.md-typeset h2 {
  font-weight: 700;
  font-size: 16pt;
  color: #4d4d4d;
}

.md-typeset h3 {
  font-weight: 700;
  font-size: 13pt;
  color: #000000;
}

.md-tabs__list {
  font-weight: 600;
}

/* make the header white with blue text */
.md-header {
  background-color: #ffffff;
  color: #0d0d58;
}

/* enlarges the font used for titles and navbar */
.md-header__title {
  font-size: 1.5rem;
}

/* enlarges the logo image */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: unset;
  width: unset;
}

/* widens the page view */
.md-grid {
  max-width: 70rem;
}

/* make the text bigger in the admonitions */
.md-typeset .admonition {
  font-size: 0.75rem;
}

/* MOBILE */
/* mobile  - make the header white with blue text */
.md-nav--primary .md-nav__title[for="__drawer"] {
  background-color: #ffffff;
  color: #0d0d58;
}

/* mobile - enlarges the logo image */
.md-nav__title .md-nav__button.md-logo img {
  width: 100px;
}

/* content images styling */
.md-content img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #777;
}

/* buttons styling */
button {
  text-align: center;
}
