/* these are colours and fonts consistent with RCPCH branding guidelines - see github for info */

:root {
  --md-primary-fg-color: #3366cc;
}

.md-typeset h1 {
  font-weight: 700;
  font-size: 24pt;
  line-height: 0pt;
  color: #11a7f2;
}

.md-typeset h2 {
  font-weight: 700;
  font-size: 14pt;
  line-height: 3px;
  color: #4d4d4d;
}

.md-typeset h3 {
  font-weight: 700;
  font-size: 10pt;
  line-height: 3px;
  color: #000000;
}

.md-tabs__list {
  font-weight: 600;
}

.md-header {
  background-color: #ffffff;
  color: #0d0d58;
  
}

.md-header__title {
  font-size: 1.5rem;
}


/* enlarges the logo image */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: unset;
  width: unset;
}

/* widens the page view */
.md-grid {
  max-width: 70rem;
}

.md-typeset .admonition {
  font-size: 0.75rem;
}
