:root {
  --md-primary-fg-color: #3366cc;
}

p,
li {
  font-family: Libre Baskerville;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 600;
}

.md-header {
  background-color: #ffffff;
  color: #0d0d58;
  
}

.md-header__title {
  font-size: 1.5rem;
}


/* enlarges the logo image */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: unset;
  width: unset;
}

/* widens the page view */
.md-grid {
  max-width: 70rem;
}

.md-typeset .admonition {
  font-size: 0.75rem;
}
