[bumpversion]
current_version = 5.0.0
tag = True
commit = True

[bumpversion:file:server_metadata.py]
search = API_SERVER_VERSION = "{current_version}"
replace = API_SERVER_VERSION = "{new_version}"

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:openapi.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
