[bumpversion]
current_version = 5.1.0
tag = True
commit = True

[bumpversion:file:server_metadata.py]
search = API_SERVER_VERSION = "{current_version}"
replace = API_SERVER_VERSION = "{new_version}"

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}
