apispec==4.4.0
apispec-webframeworks==0.5.2
attrs==20.3.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.11.1
numpy==1.20.2
bump2version==1.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
PyYAML==5.4.1
rcpchgrowth==2.2.1
scipy==1.6.2
six==1.15.0
toml==0.10.2
Werkzeug==1.0.1
