{% extends "overrides/main.html" %}

{% block tabs %} {{ super() }}

    <style>

        .md-typeset .mdx-hero__content h1 {
            margin-top: 1.25em;
        }
        
        @media screen and (max-width: 960px) {
            iframe#demo-iframe {
                display:none;
            }
            
            div#iframe-mobile-replacement {
                display: block;
            }
        }
        
        div#twitter-embeds {
            margin: auto;
        }
        
        div#twitter-embeds .twitter-tweet.twitter-tweet-rendered {
            float: left;
            margin: 0 20px;
        }
    </style>

    <section class="mdx-container ">
        <div class="mdx-hero__content md-typeset">
            <br />

            <h1>
                'Best Practice As Code' by the RCPCH.
            </h1>
                
            <h2>
                Digital clinical tools provided to developers of clinician and patient facing technology.
            </h2>
            
            <p>
                Working with experts in growth monitoring, growth charts, centile and SDS calculation, we've created an API that handles the heavy lifting of child growth parameters. You get reliable, safe results - instantly. Our Free tier ensure instant access to all, our code is fully open source, and the API service sustainably managed as a non-profit enterprise.

            </p>
            
            <a href="integrator/getting-started/" title="Go to the integrator documentation" class="md-button md-button--primary" id="integrator">
                Integrator Docs
            </a>
            <a href="clinician/how-the-api-works/" title="Go to the clinical documentation" class="md-button md-button--primary" id="clinician">
                Clinician Information
            </a>
            <a href="developer/start-here/" title="Go to the contributor documentation" class="md-button md-button--primary" id="contributor">
                Contribute
            </a>
            
        </div>
        <div class="md-grid md-typeset">
            <div>
                <br/>
                <h1>Demo Growth Chart</h1>
                <iframe id="demo-iframe" src="https://rcpch.github.io/digital-growth-charts-react-client/" width="100%" height="880" ></iframe>
                More information on exactly what the demo growth chart is, how it works, and what it is intended for, is here
            </div>
            
            <!-- This div only shows for small screens to explain why there is no demo chart-->
            <div id="iframe-mobile-replacement">
                <br />
                <h1>Demo Growth Chart</h1>
                <h2>
                    Our demo chart appears here on a desktop browser view. Growth charts are hard to interact with in mobile views and are not intended for small touch screens, hence we have suppressed the demo chart from this mobile view.
                </h2>
            </div>
        </div>
        
        <div id="twitter" class="md-typeset">
            <br />
            <h1>Tweets about the dGC Project</h1>
            
            <div id="twitter-embeds">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr"><a href="https://twitter.com/RCPCHtweets?ref_src=twsrc%5Etfw">@RCPCHtweets</a> <a
                            href="https://twitter.com/eatyourpeas?ref_src=twsrc%5Etfw">@eatyourpeas</a> <a
                            href="https://twitter.com/BATStudy?ref_src=twsrc%5Etfw">@BATStudy</a> <a
                            href="https://twitter.com/PERFORM_2020?ref_src=twsrc%5Etfw">@PERFORM_2020</a> <a
                            href="https://twitter.com/DIAMONDS_2020?ref_src=twsrc%5Etfw">@DIAMONDS_2020</a> I forgot to tell you,
                        Simon,
                        that we used the RCPCH growth API from R in our recent publication on MIS-C (<a
                            href="https://t.co/e4SZouzaQC">https://t.co/e4SZouzaQC</a>). It was very useful!</p>&mdash; Andrew
                    McArdle
                    (@andrew_mcardle) <a href="https://twitter.com/andrew_mcardle/status/1410884480504639488?ref_src=twsrc%5Etfw">July
                        2, 2021</a>
                </blockquote>

                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">The RCPCH growth charts method is now shared as an API. The college implements it&#39;s own
                        complex maths, in its own code, and hosts it. Clinicians (EHRs) call that API. Big implications. I&#39;ve slight
                        angst about transmitting more complex patient data but that can be worked around <a
                            href="https://t.co/vMQIYXWwBh">https://t.co/vMQIYXWwBh</a></p>&mdash; Ben Goldacre (@bengoldacre) <a
                        href="https://twitter.com/bengoldacre/status/1319889582633193473?ref_src=twsrc%5Etfw">October 24, 2020</a>
                </blockquote>
                
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">🗣️ &quot;This feels like possibly one of the biggest revolutions in medical technology, if
                        we get it right&quot;<br><br>Dr Marcus Baw and Dr Simon Chapman join us to chat about their digital growth
                        charts, clinician coding and more<a href="https://t.co/PmsWmNtWXz">https://t.co/PmsWmNtWXz</a> <a
                            href="https://twitter.com/marcus_baw?ref_src=twsrc%5Etfw">@marcus_baw</a> <a
                            href="https://twitter.com/eatyourpeas?ref_src=twsrc%5Etfw">@eatyourpeas</a> <a
                            href="https://twitter.com/hashtag/HealthTech?src=hash&amp;ref_src=twsrc%5Etfw">#HealthTech</a></p>&mdash;
                    HTN Health Tech News (@health1tech) <a
                        href="https://twitter.com/health1tech/status/1403248470341914626?ref_src=twsrc%5Etfw">June 11, 2021</a>
                </blockquote>
                
                <!-- only need one of these script calls -->
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        
    </section>


{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{{ super ()}}
{% endblock %}