@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selectUpperMargin {
  margin-top: 10px !important;
}

/* RCPCH Colours 

Heading text #0d0d58;
Nav Blue #1B469C;
Nav Blue #3366cc;

*/
