
{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}RCPCH Growth Chart Calculator{% endblock %}</h1>
{% endblock %}
{% block content %}
    <div class="ui center aligned relaxed grid">
        <div class="row">
            <div class="ui blue segment inverted" style="min-width:350px!important">
                <form action="" method="post" novalidate class="ui inverted form" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ form.name }}
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.birth_date.label }}<br>
                        {{ form.birth_date(class='ui input', type='date') }}
                        {% for error in form.birth_date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.obs_date.label }}<br>
                        {{ form.obs_date(class='ui input', type='date') }}
                        {% for error in form.obs_date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                            {{ form.height.label }}<br>
                            {{ form.height(type='number') }}
                    </p>
                    <p>
                        {{ form.weight.label }}<br>
                        {{ form.weight(type='number') }}
                    </p>
                    <p>
                        {{ form.ofc.label }}<br>
                        {{ form.ofc(type='number') }}
                    </p>
                    <p>
                        {{ form.gestation_weeks.label }}<br>
                        {{ form.gestation_weeks(type='number') }}
                    </p>
                    <p>
                        {{ form.gestation_days.label }}<br>
                        {{ form.gestation_days(type='number') }}
                    </p>
                    <div >
                        {% for subfield in form.sex %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                        {% endfor %}
                    </div>
                    {% for error in form.sex.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <p style="text-align: center;">
                        {{ form.submit(class_='ui button') }}
                    </p>
                </form>
                <button href='/import' type='button' onclick="window.location.href='{{ url_for( "import_growth_data" ) }}'" class="ui circular dark green right large right floated icon button">
                    <i class="file excel icon"></i>
                </button>
            </div>
        </div>
    </div>
    
{% endblock %}
