{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Growth References{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="ui two column centered padded grid">
  <div class="row">
    <p>This will become a repository for all growth references available in the public domain</p>
  </div>
  <div class="row">
    <div class="section">
        <table class="ui very basic collapsing celled table">
            <thead>
            <tr><th colspan='3'>References</th>
            </tr></thead>
            <tbody>
              {% for reference in data %}
                <tr>
                    <td>
                        <h4 class="ui header">
                            <div class="content">
                                {{reference.chart_name}}
                                <div class="sub header"></div>
                            </div>
                        </h4>
                    </td>
                    <td class='description'>
                      <i class="circle green info icon link"></i>
                    </td>
                    <td>
                      <a href='{{reference.publication_reference}}'>{{reference.publication_reference}}</a>
                    </td>
                    <td>
                      {{reference.acknowledgement_text}}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
<script>
  $('.description').popup({
            on: 'click',
            setFluidWidth: true,
            variation: 'wide green',
            html: '<p>{{reference.description}}</p>'
        });
</script>
{% endblock %}