{% extends 'base.html' %}
{% block header %}
<!-- <meta id="growthData" data-name="{{data}}"> -->
  <h1>{% block title %}Uploaded Data{% endblock %}</h1>
{% endblock %}
{% block content %}
  <!-- <div class="ui container"> -->
    <div class="ui centered grid">
      <div class="fourteen wide centered column" id='data_container'>
      {% if data %}
        <table class="ui green small collapsing table">
          <thead>
            <th>index</th>
            <th>birth_date</th>
            <th>observation_date</th>
            <th>gestation_weeks</th>
            <th>gestation_days</th>
            <th>estimated_date_delivery</th>
            <th>chronological_decimal_age</th>
            <th>corrected_decimal_age</th>
            <th>sex</th>
            <th>measurement_type</th>
            <th>measurement_value</th>
            <th>sds</th>
            <th>centile</th>              
            <!-- {% for h in headers %} -->
              <!-- <th>{{h.name}}</th> -->
            <!-- {% endfor %} -->
          </thead>
          <tbody>
            {% for m in data %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ m.birth_date }}</td>
              <td>{{ m.observation_date }}</td>
              <td>{{ m.gestation_weeks}}</td>
              <td>{{ m.gestation_days }}</td>
              <td>{{ m.estimated_date_delivery }}</td>
              <td>{{ m.chronological_decimal_age }}</td>
              <td>{{ m.corrected_decimal_age }}</td>
              <td>{{ m.sex }}</td>
              <td>{{ m.measurement_type }}</td>
              <td>{{ m.measurement_value }}</td>
              <td>{{ m.sds }}</td>
              <td>{{ m.centile}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button onclick="window.location.href='{{url_for('uploaded_data', id='get_excel')}}'" class="green ui button" type="submit">Download .XLSX</button>
        {% if unique %}
          <div class="ui green button" onclick="window.location.href='{{url_for('chart')}}'" type='submit'>Chart</div>
          <div class="ui green button" id='velocityButton'>Dynamic Calculations</div>
          <div class="ui modal">
            <div class="header">Velocities and Accelerations</div>
            <div class="content">
              <div class="ui two column grid">
                <div class="column">
                  <div class="ui list">
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Height Velocity</div>
                        <div class="description">{{dynamic_calculations.height_velocity}} cm&#8231;y&#8315;&#185;</div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Weight Velocity</div>
                        <div class="description">{{dynamic_calculations.weight_velocity}} kg&#8231;y&#8315;&#185;</div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">BMI Velocity</div>
                        {% if dynamic_calculations.bmi_acceleration is string %}
                        <div class="description">{{dynamic_calculations.bmi_velocity}}</div>
                        {% else %}
                        <div class="description">{{dynamic_calculations.bmi_velocity}} kg&#8231;m&#8315;&#178;y&#8315;&#185;</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Head Circumference Velocity</div>
                        <div class="description">{{dynamic_calculations.ofc_velocity}} cm&#8231;y&#8315;&#185;</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui list">
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Height Acceleration</div>
                        <div class="description">{{dynamic_calculations.height_acceleration}} cm&#8231;y&#8315;&#178;</div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Weight Acceleration</div>
                        <div class="description">{{dynamic_calculations.weight_acceleration}} kg&#8231;y&#8315;&#178;</div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">BMI Acceleration</div>
                        {% if dynamic_calculations.bmi_acceleration is string %}
                          <div class="description">{{dynamic_calculations.bmi_acceleration}}</div>
                        {% else %}
                          <div class="description">{{dynamic_calculations.bmi_acceleration}} kg&#8231;m&#8315;&#178;&#8231;y&#8315;&#178;</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart line green middle aligned icon"></i>
                      <div class="content">
                        <div class="header">Head Circumference Acceleration</div>
                        <div class="description">{{dynamic_calculations.ofc_acceleration}} cm&#8231;y&#8315;&#178;</div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% else %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <div class="ui container">
                  <div class='ui red icon message'>
                    <i class="exclamation triangle icon"></i>
                    <div class="content">
                      <div class="header">
                        Error importing data!
                      </div>
                      <p>{{message}}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div class="ui container" style="padding: 10px;">
                <button onclick="window.location.href='{{url_for('import_growth_data')}}'" class="green ui button" type="submit">Return to Upload</button>
              </div>
            </ul>
          {% endif %}
        {% endwith %}
      {% endif %}
  </div>
<!-- </div> -->
  <style>
    #data_container{
      margin-top: 20px;
    }
    th {
      font-size: 10px;
    }
  </style>
  <script>
    $('#velocityButton').on('click', function(evt) {
      // var growthData = $('#growthData').data();
      // console.log(growthData);
      
      $('.ui.modal').modal({
    inverted: true
  }).modal('show');
    });
  </script>
{% endblock %}