# standard dependencies


# third party dependencies
fastapi[all]
uvicorn[standard]
pydantic == 2.*

# rcpch dependencies
# python package which does the centile and SDS calculations
rcpchgrowth==4.1.0
