# standard dependencies
# typing # this may be causing build errors in Azure. Typing is built in after Python 3.5

# third party dependencies
fastapi
uvicorn[standard]
pydantic

# rcpch dependencies
# python package which does the centile and SDS calculations
rcpchgrowth