# standard dependencies


# third party dependencies
fastapi[all]==0.116.1
uvicorn[standard]==0.35.0
pydantic == 2.11.7

# rcpch dependencies
# python package which does the centile and SDS calculations
rcpchgrowth==4.5.0
