name: Adds new Issues automatically to the dGC Project

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue or PR to project automatically
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          project-url: https://github.com/orgs/rcpch/projects/5 #dGC Project
          github-token: ${{ secrets.AUTO_ADD_TO_PROJECT_TOKEN }}

